.home{
    background-image: url('../../../assets/images/banner-background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.services{
    background-image: url('../../../assets/images/services-background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.text-banner{
    font-family: 'Heebo', sans-serif;

}

